/* style.css */

body {
    background-color: #f0f5f5;
}

.sidebar {
    background-color: #e9ecef;
    height: 100vh;
    padding: 0;
    border-right: 1px solid #ddd;
}

.user-section {
    border-bottom: 1px solid #ddd;
}

.user-section img {
    width: 50%;
    margin-bottom: 10px;
}

.notification {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.search-section h5,
.request-section button {
    margin-bottom: 15px;
}

.request-section button {
    margin-top: 10px;
}

.main-content {
    padding: 20px;
}

.main-content h2 {
    margin-bottom: 30px;
}

.main-content h5 {
    font-weight: bold;
    margin-top: 20px;
}

.main-content p {
    margin-bottom: 10px;
}

.main-content .btn-block {
    margin-top: 20px;
}

.main-content .badge {
    font-size: 1.2em;
    padding: 10px;
}

/* Nouvelles classes pour les niveaux d'urgence */
.badge-urgency-low {
    background-color: green;
}

.badge-urgency-medium {
    background-color: yellow;
    color: black;
}

.badge-urgency-high {
    background-color: red;
}

/* Exemple de styles pour la nouvelle div et les boutons */
#actions_buttons {
    margin-top: 20px; /* Espacement au-dessus de la nouvelle div */
}

.dynamic-button {
    margin-bottom: 10px; /* Espacement entre les boutons */
}

.clickable-zone {
    cursor: pointer; /* Change le curseur pour indiquer que la zone est cliquable */
    padding: 10px; /* Ajoute un peu de padding pour l'esthétique */
    border: 1px solid #ddd; /* Ajoute une bordure légère */
    border-radius: 4px; /* Ajoute un arrondi aux coins */
    background-color: #f9f9f9; /* Change la couleur de fond */
}

.clickable-zone:hover {
    background-color: #e9e9e9; /* Change la couleur de fond au survol */
}

/* Nouvelles classes pour les modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

