/* style.css */

body {
    background-color: #f0f5f5; /* Couleur de fond bleu clair pour l'arrière-plan */
}

.logo-container {
    max-width: 100%; /* Assurez-vous que le logo ne dépasse pas de la largeur du conteneur */
    text-align: right; /* Alignement du texte à droite pour le logo */
}

@media (max-width: 768px) {
    .logo-container {
        text-align: center; /* Centrez le logo lorsque la largeur de l'écran est inférieure à 768px */
    }
}

.container {
    max-width: 400px; /* Réduire la largeur du conteneur pour le formulaire */
    margin: 0 auto; /* Centrer horizontalement le conteneur */
    padding: 20px; /* Espacement interne réduit pour le formulaire */
}

.bg-white {
    background-color: #ffffff; /* Couleur de fond blanche pour le formulaire */
    border-radius: 10px; /* Coins arrondis pour un aspect plus doux */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre légère pour le contour */
}

.form-group label {
    font-weight: bold; /* Texte en gras pour les étiquettes de formulaire */
}
